body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: goldenrod;
    padding: 20px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-color: goldenrod;
    background-color: goldenrod;
    color: black;
}

button {
    background-color: goldenrod;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gold;
}

.agendamento {
    margin-top: 20px;
    border-top: 1px solid #0000;
    padding-top: 10px;
    color: goldenrod;
}