<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Tatuador</title>
</head>
<body>
    <h1>Login do Tatuador</h1>

    <!-- Exibe mensagens gerais do flash() sem a tag da categoria -->
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <ul>
                {% for mensagem in mensagens %}
                    <li>{{ mensagem }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}

        <!-- CAMPO E-MAIL -->
        <div>
            {{ form.email.label }}<br>
            {{ form.email() }}
            {% if form.email.errors %}
                {% for erro in form.email.errors %}
                    <br><span style="color: red;">{{ erro }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        <!-- CAMPO SENHA -->
        <div>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% if form.password.errors %}
                {% for erro in form.password.errors %}
                    <br><span style="color: red;">{{ erro }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        {{ form.submit() }}
    </form>
</body>
</html>